#app {



    .el-table-column .font-grey {
        color: gainsboro;
    }

    .el-table__row .tdl {
        background-color: black;
        color: white;
    }

    .el-table__row .tdr {
        padding: 0;
        border: 2px #111 solid

    }


}
